
<div *ngIf="listview">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value=""
          [(ngModel)]="useFilter" id="filter" name="filter">
          <label class="form-check-label" for="filter">
            Filter Events
          </label>
        </div>
        <app-filter (onFiltered)="onFiltered($event)" *ngIf="useFilter"></app-filter>
      </div>
      <div class="col-sm-8">
        <form class="p-2" *ngIf="askForZip" #zipForm="ngForm" (submit)="getLocFromZip()">
          <div class="form-row">
            <div class="col-sm-6">
            <p>Please enter your zip code.</p>
          </div>
            <div class="col-sm-3">
              <input type="text" required [(ngModel)]="zipcode" class="form-control" name="zip" placeholder="Zip code">
            </div>
            <div class="col-sm-3">
            <button type="submit" [disabled]="!zipForm.form.valid"class="btn btn-primary">Go!</button>
          </div>
          </div>
        </form>
				<ngb-alert *ngIf="!notError" (close)="notError = true">{{error_message}}</ngb-alert>
				<ul class="list-group">
					  <li *ngFor="let event of events; let i = index" class="list-group-item">
					  	<div class="row">
						  	<div class="col-sm-1">
						  		<div class="row">
						  			<button class="btn btn-sm btn-outline-primary col mb-3" type="button" [disabled]="!loggedIn" (click)="upvote(event.id, i)">
						  				<span class="oi oi-arrow-circle-top" title="upvote up" aria-hidden="true"></span>
						  			</button>
						  			</div>
										<div class="row">
											<p class="mx-auto text-primary">{{event.upvote_count}}</p>
										</div>
						  	</div>
						  	<div class="col-sm-11">
							    <h4 class="mb-0"><a [routerLink]="['/event', event.id]">{{event.title}}</a></h4>
							    <span class="badge mt-0">{{event.time_stamp | date:'short'}}</span>
							    <p>{{event.description}}</p>
							</div>
						</div>
					  </li>
				</ul>
			</div>
      <div class="col-sm">
      </div>
    </div>
  </div>
</div>
<div *ngIf="listview==false">
  <app-maps-view [events]="events"></app-maps-view>
</div>
