<ul class="list-group">
	  <li *ngFor="let event of events" class="list-group-item">
	  	<div class="row">
		  	<div class="col-sm-1">
		  		<div class="row">
		  			<button class="btn btn-outline-primary col" type="button">
		  				<span class="oi oi-arrow-circle-top" title="upvote up" aria-hidden="true"></span>
		  			</button>
		  			</div>
		  			<div class="row">
		  			<button class="btn btn-outline-warning col" type="button">
		  				<span class="oi oi-arrow-circle-bottom" title="upvote down" aria-hidden="true"></span>
		  			</button>
		  		</div>
		  	</div>
		  	<div class="col-sm-11">
			    <h4 class="mb-0">{{event.title}}</h4>
			    <span class="badge mt-0">{{event.time | date:'short'}}</span>
			    <p>{{event.description}}</p>
			</div>
		</div>
	  </li>
</ul>
