
<div *ngIf="listview">
  <div class="container">
    <div class="row">
      <div class="col-sm">
      </div>
      <div class="col-sm-8">
				<ngb-alert *ngIf="!notError" (close)="notError = true">You've already upvoted this post!</ngb-alert>
				<ul class="list-group">
					  <li *ngFor="let event of events; let i = index" class="list-group-item">
					  	<div class="row">
						  	<div class="col-sm-1">
						  		<div class="row">
						  			<button class="btn btn-sm btn-outline-primary col mb-3" type="button" [disabled]="!loggedIn" (click)="upvote(event.id, i)">
						  				<span class="oi oi-arrow-circle-top" title="upvote up" aria-hidden="true"></span>
						  			</button>
						  			</div>
										<div class="row">
											<p class="mx-auto text-primary">{{event.upvote_count}}</p>
										</div>
						  	</div>
						  	<div class="col-sm-11">
							    <h4 class="mb-0"><a [routerLink]="['/event', event.id]">{{event.title}}</a></h4>
							    <span class="badge mt-0">{{event.time_stamp | date:'short'}}</span>
							    <p>{{event.description}}</p>
							</div>
						</div>
					  </li>
				</ul>
			</div>
      <div class="col-sm">
        <app-filter (onFiltered)="onFiltered($event)"></app-filter>
      </div>
    </div>
  </div>
</div>
<div *ngIf="listview==false">
  <app-maps-view [events]="events"></app-maps-view>
</div>
