<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
<agm-marker [latitude]="lat" [longitude]="lng" [openInfoWindow]="true">
  <agm-info-window [isOpen]="true">
    <strong>You are here!</strong>
  </agm-info-window>
</agm-marker>
<div *ngFor="let event of events">
  <agm-marker [latitude]="convertString(event.lat)" [longitude]="convertString(event.lng)">
    <agm-info-window [maxWidth]="200">
      <strong><a [routerLink]="['/event', event.id]">{{event.title}}</a></strong><br/>
      <i>{{event.time}}</i>
      <p>{{event.description}}</p>
    </agm-info-window>
  </agm-marker>
</div>
</agm-map>
