<div class="container">
  <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
    [(ngModel)]="model.Athletics" id="Athletics" name="Athletics">
    <label class="form-check-label" for="Athletics">
      Athletics
    </label>
  </div>

  <div class="ml-3" *ngIf="model.Athletics">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Club" id="Club" name="Club">
      <label class="form-check-label" for="Club">
        Club
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Varsity" id="Varsity" name="Varsity">
      <label class="form-check-label" for="Varsity">
        Varsity
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Football" id="Football" name="Football">
      <label class="form-check-label" for="Football">
        Football
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Soccer" id="Soccer" name="Soccer">
      <label class="form-check-label" for="Soccer">
        Soccer
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Hockey" id="Hockey" name="Hockey">
      <label class="form-check-label" for="Hockey">
        Hockey
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Volleyball" id="Volleyball" name="Volleyball">
      <label class="form-check-label" for="Volleyball">
        Volleyball
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Basketball" id="Basketball" name="Basketball">
      <label class="form-check-label" for="Basketball">
        Basketball
      </label>
    </div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Food" id="Food" name="Food">
    <label class="form-check-label" for="Food">
      Food
    </label>
  </div>

  <div class="ml-3" *ngIf="model.Food">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Pizza" id="Pizza" name="Pizza">
      <label class="form-check-label" for="Pizza">
        Pizza
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Dessert" id="Dessert" name="Dessert">
      <label class="form-check-label" for="Dessert">
        Dessert
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Vegan" id="Vegan" name="Vegan">
      <label class="form-check-label" for="Vegan">
        Vegan
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Vegetarian" id="Vegetarian" name="Vegetarian">
      <label class="form-check-label" for="Vegetarian">
        Vegetarian
      </label>
    </div>
  </div>

  <div class="form-check">
  <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Fundraising" id="Fundraising" name="Fundraising">
    <label class="form-check-label" for="Fundraising">
      Fundraising
    </label>
  </div>

  <div class="ml-3" *ngIf="model.Fundraising">
    <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Animals" id="Animals" name="Animals">
      <label class="form-check-label" for="Animals">
        Animals
      </label>
    </div>

    <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Dogs" id="Dogs" name="Dogs">
      <label class="form-check-label" for="Dogs">
        Dogs
      </label>
    </div>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value=""
      [(ngModel)]="model.Professional" id="Professional" name="Professional">
    <label class="form-check-label" for="Professional">
      Professional
    </label>
  </div>

  <div class="ml-3" *ngIf="model.Professional">

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Information" id="Information" name="Information">
      <label class="form-check-label" for="Information">
        Information
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Career_Fair" id="Career_Fair" name="Career_Fair">
      <label class="form-check-label" for="Career_Fair">
        Career Fair
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Development" id="Development" name="Development">
      <label class="form-check-label" for="Development">
        Development
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Resume_Review" id="Resume_Review" name="Resume_Review">
      <label class="form-check-label" for="Resume_Review">
        Resume Review
      </label>
    </div>

    <div class="form-check">
      <input class="form-check-input" type="checkbox" value=""
        [(ngModel)]="model.Interview_Prep" id="Interview_Prep" name="Interview_Prep">
      <label class="form-check-label" for="Interview_Prep">
        Interview Prep
      </label>
    </div>
  </div>
</div>
